<h1>Recent Posts</h1>
<form role="form">
    <div class="form-group">
        <div class="input-group">
            <input type="text" ng-model="post.body" class="form-control post-input">
            <span class="input-group-btn">
                <button ng-click="addPost()" class="btn btn-default add-post">
                Add Post
                </button>
            </span>

        </div>
    </div>
</form>
<ul class="list-group posts">
    <li ng-repeat="post in posts | orderBy:'-date'" class="list-group-item">
        <strong>@{{ post.username }}</strong>
        <span>{{ post.body }}</span>
    </li>
</ul>